body{
  width:200%;
  height:50%;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/01/01/c2/0101c28269fd4d2265335df663accc79.gif);
  background-size:cover;
  background-repeat:repeat;
}

.box{
    
    background-color:white;
   border:blue;20px;
    
}

 button{
  background-color:Aqua;
  border:Black;
  color:red;
  padding:20px 30px;
  text-align:left; 
  font-size:18px;
  margin:29px 30px;
  cursor:pointer;
  border-radius:30px;
 }
 
 h1,p {
     color:Red;
 }
 
 p{
     font-family:"arial";
     font-size:30px;
     color:gold;
     
 }
 